  // .cardproduct-existing {
  //   border: 1px solid #9eadad;
  //   background-color: #fff;
  //   width: 100%;
  //   padding: 15px !important;
  // }

  .filter-btn{
    background-color: #fff;
  }

  .hide-control {
  display: none !important;
  visibility: hidden !important;
}