.timeline-container {
  width: 100%;
  max-height: 600px;
  overflow: auto;
  display: block;
  position: relative;
  .tl {
    li {
      width: 100%;
      list-style: none;
      margin: auto;
      display: flex;
      &:last-child {
        border-left: 0;
      }

      .item-icon {
        border-radius: 50%;
        background: var(--ab-ash-210);
        height: 20px;
        width: 20px;
      }
    }
    .active {
      .item-icon {
        border: 6px solid #CF8F48;
        background-color: var(--ab-white);
        &::before {

        }
      }
      .paid {
        border: 6px solid #2CA01C;
        background-color: var(--ab-white);
        &::before {

        }
      }
    }
  }
}
.step-line{
   min-height: 9vh;
    width: 1px;
    margin: 19px 12px 0 -10px;
    background-color: #bdbdbd;
}
.item-icon{

}
.item-text{
width: 25%;
margin-left: 20px;
font-size: 13px;
}
.item-left{
  width: 25%;
  margin-right: 12px;
}
.item-timestamp{
  font-size: 14px;
  margin-bottom: 4px;
}
.time_txt{
  font-size: 12px;
}
.item-title{
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 4px;
}
