<div class="timeline-container p-6 shadowBg bg-white">
  <ul class="tl p-0">
    @for (log of logs; track $index) {
      <li class="{{ log.statusClass }}">
        <div class="item-left">
          <div class="item-timestamp">{{ log.timestamp }}</div>
          <div class="time_txt">{{ log.time_txt }}</div>
        </div>
        @if (paidStatus && $index === totalLength) {
          <div class="item-icon paid"></div>
        } @else {
          <div class="item-icon"></div>
        }
        @if ($index !== totalLength) {
          <div class="step-line"></div>
        }
        <div class="item-text d-flex flex-column flex-grow-1">
          <div class="item-title">{{ log.title }}</div>
          <ul class="p-0">
            @for (desc of log.changeDescription; track $index) {
              <li>
                <span class="item-title">{{ desc.label }}</span>
                <span class="ms-2" [innerHTML]="desc.value">{{ desc.value }}</span>
              </li>
            }
          </ul>
          @if (log.reason) {
            <div class="item-detail pt-2 pb-2">
              <span class="text-ash-250"> {{ log.reason ? "Remarks :" : "" }}</span> {{ log.reason }}
            </div>
          }

          <div class="item-detail pt-2 pb-2">
            <span class="text-ash-250"> {{ log.username ? "By" : "" }}</span> {{ log.username }}
          </div>
        </div>
      </li>
    }
  </ul>
</div>
