.stepper {
  display: flex;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.step.active {
  background-color: #e0f2fe;
}

.step.completed {
  background-color: #c8e6c9;
}
.step.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.step-index {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #71706E;
  color: var(--ab-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.step-label {
  white-space: nowrap;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #787878;
}

.stepper-content {
  margin-bottom: 20px;
}

.stepper-actions {
  display: flex;
  justify-content: flex-end;
}

.stepper-actions button {
  margin-left: 10px;
  cursor: pointer;
}
.step-line {
  flex-grow: 1;
  height: 1px;
  background-color: #BDBDBD;
  margin: 0 10px;
}
.step.active{
  .step-index{
    background-color: #EA9F4E;
  }
  // .step-line{
  //   background-color:#EA9F4E;
  //   opacity: 1;
  // }
  .step-label{
    font-weight: 600;
    color: #171616;
  }
}


  .stepper-yaxis {
    display: flex;
    flex-direction: column;
 }
 .stepper-yaxis{
  .step{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
    padding-top: 0;
  }
  .step-line {
    height: 7vh;
    width: 2px;
    margin: 2px 10px 0 14px;
  }
  .step.active{
    background-color: transparent;
  }
 }
