<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button
      class="nav-link active"
      id="nav-home-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-home"
      type="button"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
    >
      Sync Quickbook
    </button>
    <button
      class="nav-link"
      id="nav-profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-profile"
      type="button"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
    >
      Update History
    </button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="mt-10 text-start">
      <div class="m-4 text-start">
        <button type="button" class="btn-olt me-3" (click)="syncCustomer()">Sync Customer</button>
        <button type="button" class="btn-olt me-3" (click)="syncProduct()">Sync Product</button>
        <button type="button" class="btn-olt me-3" (click)="syncIndustry()">Sync Industry</button>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <section class="w-100 p-5">
      <form [formGroup]="filterForm" id="filterForm">
        <div class="form-floating mt-5">
          <ng-select
            class="form-select"
            formControlName="collection"
            id="collection"
            name="collection"
            [clearable]="false"
            [virtualScroll]="true"
          >
            <ng-option value="0">All Collections</ng-option>
            @for (collection of collectionGroup; track collection) {
              <ng-option [value]="collection">
                {{ collection }}
              </ng-option>
            }
          </ng-select>
          <label class="m-floating-label"> Collections </label>
        </div>
        <div class="form-floating mt-5">
          <ng-select
            class="form-select"
            formControlName="user"
            id="user"
            name="user"
            [clearable]="false"
            [virtualScroll]="true"
          >
            <ng-option value="0">All Users</ng-option>
            @for (user of usersGroup; track user) {
              <ng-option [value]="user">
                {{ user }}
              </ng-option>
            }
          </ng-select>
          <label class="m-floating-label"> Users </label>
          <div class="d-flex justify-content-end filter-footer pb-3 pt-3">
            <button type="button" class="btn me-3 bg-white reset-filter" (click)="resetFilter()">
              <i class="bi bi-x fs-1"></i> Reset
            </button>
            <button type="button" class="btn btn-primary" (click)="applyFilter()">
              <i class="bi bi-check2 fs-3"></i> Apply
            </button>
          </div>
        </div>
      </form>
      <data-table
        [show_pdf]="false"
        [show_excel]="true"
        [table_search]="true"
        [show_column_filter]="true"
        [enable_row_click]="true"
        [show_action_column]="action_fields"
        [show_image_column]="image_colum"
        [action_position]="position"
        [show_button_column]="button_colum"
        [data]="listItems"
        export_title="Term"
        [table_pagination]="true"
        [show_Description_column]="Desc_colum"
      >
      </data-table>
    </section>
  </div>
</div>
<!-- <div class="card">
  <p-table
    [value]="products"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    (onEditComplete)="onEditComplete($event)"
  >
    <ng-template #header>
      <tr>
        <th style="width: 20%">Code</th>
        <th style="width: 20%">Name</th>
        <th style="width: 20%">Quantity</th>
        <th style="width: 20%">Price</th>
        <th style="width: 20%">Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-product let-editing="editing">
      <tr>
        <td [pEditableColumn]="product.code" pEditableColumnField="code">
          <p-cellEditor>
            <ng-template #input>
              <input pInputText type="text" [(ngModel)]="product.code" fluid />
            </ng-template>
            <ng-template #output>
              {{ product.code }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="product.name" pEditableColumnField="name">
          <p-cellEditor>
            <ng-template #input>
              <input pInputText type="text" [(ngModel)]="product.name" required fluid />
            </ng-template>
            <ng-template #output>
              {{ product.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="product.quantity" pEditableColumnField="quantity">
          <p-cellEditor>
            <ng-template #input>
              <input pInputText [(ngModel)]="product.quantity" fluid />
            </ng-template>
            <ng-template #output>
              {{ product.quantity }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="product.price" pEditableColumnField="price">
          <p-cellEditor>
            <ng-template #input>
              <input pInputText type="text" [(ngModel)]="product.price" fluid />
            </ng-template>
            <ng-template #output>
              {{ product.price | currency: "USD" }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align: center">
          <button
            *ngIf="!editing"
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text p-button-info"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div> -->

<div class="upload-container">
  <h3>Upload Excel</h3>

  <select (change)="onChange($event)" class="select-input">
    <option value="">Select Upload Type</option>
    <option value="accountId">Account ID</option>
    <option value="products">Products</option>
    <option value="opportunity">Opportunity Detail</option>
    <option value="opportunityLineItems">Opportunity Line Items</option>
    <option value="billingRows">Billing Rows</option>
    <option value="Transition">Transition</option>
    <option value="billingDraftImport">BillingDraftImport</option>
  </select>

  <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls" class="file-input" />

  <button (click)="uploadFile()" [disabled]="!selectedFile || isUploading || !typeOfUpload" class="upload-btn">
    {{ isUploading ? "Uploading..." : "Upload" }}
  </button>

  <div *ngIf="message" class="message">
    {{ message }}
  </div>
</div>

<div class="upload-container">
  <button (click)="ChangeCompanyStatus()" class="upload-btn">
    {{ isUploadingc ? "changing..." : "changestatus" }}
  </button>
  <div *ngIf="message" class="message">
    {{ changestatus }}
  </div>
</div>
