@use "../../../../assets/styles/color" as c;


.txt-manage {
  color: c.$txt-3;
}


// .form-check-input:checked[type=radio]{
//   --bs-form-check-bg-image:unset;
//   background-color: transparent;
//   border: 1px solid c.$primary-default;
// }
// .manualEsign {
//   box-shadow: 0px 0px 8px 0px #001B3326;
// }
.primary{
  color: c.$primary-default;
}
.circleInner {
  width: 14px;
  background-color: c.$primary-default;
  height: 14px;
}

.circleOuter {
  width: 20px;
  height: 20px;
  border: 1px solid c.$primary-default;
}

.manualBtn {
  background-color: c.$primary-100;
  width: 116px;
  max-width: 100%;
  border: 1px solid c.$primary-default;
}

%extend-btn1 {
  padding: 30px;
  border: 1px solid;
}

.notActive {
  border: 1px solid c.$border-5;
   background-color: var(--ab-white) ;
  color: c.$txt-3;

  .circleOuter {
     background-color: var(--ab-white) ;
    border: 1px solid c.$border-5 ;
  }

  .circleInner {
    display: none;
  }
}

.uploadDoc-txt {
  color: c.$txt-3;
}

.file-txt {
  color: c.$txt-3;
  word-break: break-word;
}

.viewBtn,
.backicon-color {
  color: c.$primary-default;
}
.activeDragandDrop .leftDragandDrop {
  width: 100% !important;
}
.activeDragandDrop .right-activeDragandDrop {
  display: none;
}
.circle-icon {
  font-size: 84px;
  color: #FB9C2E;
}
.txt-dashBoard{
  color: #FB9C2E;
}
.modal-Manual-wrapper,.viewWrapper {
  background-color: #00313399;
}
.view_area {
  .bi-x-lg::before {
    content: "\f659";
    font-weight: 700 !important;
  }
}
// .bg-modal-blur{
//   background-color: #00313399;
//   backdrop-filter: blur(3px);
// }
.text-black-1{
  color:#171616;
}
.border-1{
  border-bottom: 1px solid #878787;
}
// .table-width-fixed{
//   width: 1144px;
// }
.overflow-x{
  overflow-x: visible;
}
::ng-deep{
.p-fileupload-header,.p-progressbar{
    display: none !important;
  }
  .p-fileupload-content{
    flex-direction: column-reverse !important;
  }
  .p-fileupload-file-list{
    display: none !important;
  }
  .p-fileupload-content{
    padding-bottom: 0 !important;
  }
}
.activeDragandDrop {
  .leftDragandDrop {
    width: 100% !important;
  }
  .right-activeDragandDrop {
    display: none;
  }
}
.createTemp-config-inner {
  border: 1px solid #A5A5A5;
}
.configureFields-sec{
  .chk-box{
    border: 1px solid #8f8f8f  !important;
  }
}
.dropzone {
  border: 2px dashed #9DA9A3 !important;
  background-color: #F9F9F8 !important;
  padding: 55px 20px !important;
  height: unset;
  display: block;
  color: initial;
}
