<main class="bg-white pt-4 ps-4 pe-5 pb-5 rounded-3 manualEsign">
  @if (!hideContent) {
  <div class="fw-bold fs-3 txt-manage">Complete Documentation</div>
  <div class="fw-medium mt-3 mb-3 fs-4 txt-manage">
    Choose a mode to process the documents related to this customer
  </div>
  }
  @if (showExecuteContract) {
  <div class="flex items-center justify-between mb-4 pb-2">
    <div class="font-bold text-xl">Executed Contracts</div>
    <div class="flex gap-3">
      <p-button label="Save" variant="outlined" icon="pi pi-check" (onClick)="saveExecutedContracts()"></p-button>
      <p-button label="Cancel" severity="danger" variant="outlined" icon="pi pi-times"
        (onClick)="onCancelExecutedContracts()"></p-button>
    </div>
  </div>
  }
  <div class="col-3">
    <div class="d-flex align-items-center">
      @if (!hideContent) {
      @if (showManualTabHide) {
      <div class="fw-medium cursor-pointer px-5 py-3 manualBtn rounded-pill d-flex align-items-center manualchk {{
              showManualPage ? '' : 'notActive'
            }}" (click)="manualBtnFn()">
        <div class="circleOuter rounded-circle d-flex align-items-center justify-content-center me-2">
          <div class="circleInner rounded-circle"></div>
        </div>
        <div class="fs-5">Manual</div>
      </div>
      }

      <div class="fw-medium px-5 py-3 manualBtn rounded-pill d-flex align-items-center {{
            showManualPage ? 'notActive' : ''
          }} ms-2 esignchk cursor-pointer" (click)="esignBtnFn()">
        <div class="circleOuter rounded-circle d-flex align-items-center justify-content-center me-2">
          <div class="circleInner rounded-circle"></div>
        </div>
        <div class="fs-5">e-Sign</div>
      </div>
      }
    </div>
  </div>

  <!-- manual -->

  <!-- <form [formGroup]="ManualDocumentUpload"> -->
  @if (showManualPage) {
  <div class="manual-outer">
    @if (!hideContent) {
    <div class="sub-hd my-6 mb-3 uploadDoc-txt fs-5 fw-medium">Upload Document</div>
    }
    <div class="card-body p-0">
      <div class="col-12">
        <div class="draganddrop-outer row {{ files.length != 0 ? '' : 'activeDragandDrop' }}">
          <div [ngClass]="!hideContent ? 'col-2 col-xxl-3 leftDragandDrop cursor-pointer' : ''">
            <!-- class="dropzone cursor-pointer" -->
            <!-- <ngx-dropzone
                class="border-[#9DA9A3] bg-[#F9F9F8] border-dashed border-2 !py-4 px-4 flex items-center justify-center"
                (change)="onFileManualSelect($event)"
              >
                <div>
                  <input type="file" id="fileInput" style="display: none" accept=".docx,.pdf" multiple />
                  <div class="d-flex justify-content-center">
                    <svg width="116" height="58" viewBox="0 0 116 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M40.4584 2.42964L3.28906 21.0342L16.1311 43.5421L53.3005 24.9376L40.4584 2.42964Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M13.6722 12.8232L1.95703 18.6859L3.29086 21.0189L15.6729 14.8176L13.6722 12.8232Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M53.2199 24.9637L16.0416 43.5752L1.70703 24.2111L38.8773 5.59961L53.2199 24.9637Z"
                        fill="#EBEBEB"
                      />
                      <path
                        d="M11.9359 16.3369L0.220703 22.2071L1.7072 24.209L14.0973 18.0077L11.9359 16.3369Z"
                        fill="#EBEBEB"
                      />
                      <path
                        d="M115.782 18.3481C108.053 12.1468 100.392 6.03075 92.802 0C84.0679 8.37632 78.5397 20.3651 68.7852 27.5975C76.5149 33.7938 84.1723 39.9073 91.7574 45.9381C100.5 37.5617 106.02 25.573 115.782 18.3481Z"
                        fill="#EBEBEB"
                      />
                      <path
                        d="M74.9707 25.7772L87.5456 35.7566L88.1723 35.0567L75.6216 25.1074L74.9707 25.7772Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M76.6035 24.0674C80.7818 27.3838 84.9493 30.6826 89.1061 33.9639C89.315 33.7281 89.5159 33.4773 89.7087 33.2113L77.2303 23.375L76.6035 24.0674Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M78.168 22.2835L90.6143 32.1123L91.2009 31.3597L78.7786 21.576L78.168 22.2835Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M79.6875 20.4626L97.8467 34.7617C98.0316 34.5059 98.2244 34.25 98.4173 34.0092L80.2821 19.71C80.0812 19.9734 79.9044 20.2217 79.6875 20.4626Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M81.166 18.5895L99.2771 32.8887C99.4699 32.6328 99.6547 32.3769 99.8476 32.1361L81.7445 17.8369L81.166 18.5895Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M82.6113 16.6761L100.706 30.9226L101.277 30.1701L83.1818 15.916C82.997 16.1719 82.8042 16.4202 82.6113 16.6761Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M84.0527 14.7584L102.148 29.005L102.718 28.2524L84.6152 14.0059L84.0527 14.7584Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M85.4805 12.8161L103.6 27.1153L104.178 26.3627L86.051 12.0635L85.4805 12.8161Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M86.918 10.8981C92.9603 15.6545 99.0134 20.4209 105.077 25.1973L105.68 24.4447L87.4885 10.1455L86.918 10.8981Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M88.3789 9.00092C94.4266 13.7774 100.501 18.5739 106.602 23.3904L107.221 22.683L88.9655 8.25586L88.3789 9.00092Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M89.8691 7.14143C95.9544 11.943 102.058 16.7721 108.181 21.6288C108.398 21.3955 108.607 21.1697 108.824 20.9514C102.674 16.0697 96.557 11.2255 90.4718 6.41895L89.8691 7.14143Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M91.4102 5.32784L109.827 19.9356L110.501 19.2884C104.309 14.3614 98.1489 9.4746 92.0208 4.62793L91.4102 5.32784Z"
                        fill="#DBDBDB"
                      />
                      <path
                        d="M12.3047 37.9383C12.3046 40.6639 13.404 43.2889 15.3828 45.2875C17.3615 47.286 20.0735 48.5104 22.9753 48.7154H88.3004C91.7392 48.6499 95.0227 47.3626 97.4858 45.1141C99.949 42.8657 101.407 39.8244 101.566 36.6063C101.724 33.3883 100.571 30.2342 98.3387 27.7831C96.1068 25.332 92.9636 23.7672 89.5459 23.4058C89.3797 18.4415 87.3741 13.6861 83.8732 9.95555C80.3723 6.22503 75.5945 3.75197 70.3594 2.96071C65.1243 2.16945 59.7584 3.10931 55.1824 5.61904C50.6064 8.12877 47.1056 12.0519 45.2806 16.7153C43.4001 15.8247 41.3214 15.3631 39.2141 15.3681C35.7635 15.3677 32.4425 16.6 29.9283 18.8136C27.414 21.0273 25.8958 24.0557 25.6831 27.2816C25.0645 27.1839 24.4382 27.1361 23.8109 27.1386C20.7571 27.1446 17.8305 28.2851 15.6733 30.3097C13.5162 32.3344 12.3047 35.0779 12.3047 37.9383Z"
                        fill="#F9A952"
                      />
                      <path d="M64.0896 33.0234H50.0684V48.745H64.0896V33.0234Z" fill="white" />
                      <path d="M45.6836 35.3272H68.4791L57.0773 22.7891L45.6836 35.3272Z" fill="white" />
                      <path d="M89.0823 53.5459H26.6738V57.6475H89.0823V53.5459Z" fill="#DBDBDB" />
                      <path d="M73.2692 53.5459H26.6738V57.6475H73.2692V53.5459Z" fill="#F9A952" />
                    </svg>
                  </div>
                  <h6 class="text-center clickDragdrp-txt mb-3 mt-7 text-xl font-semibold">
                    Click or Drag & Drop your files here
                  </h6>
                  <div class="text-center pls-upload-txt fs-6 fs-xxl-5">
                    <span class="text-danger">*</span> Please Upload Files Upto
                    <span class="fw-bold">200 MB</span>
                  </div>
                </div>
              </ngx-dropzone> -->

            <div class="cursor-pointer">
              <p-fileUpload #uploader name="files[]" [multiple]="true" accept=".docx,.pdf" maxFileSize="209715200"
                [customUpload]="true" [auto]="false" [showUploadButton]="false" [showCancelButton]="false"
                (onSelect)="onFileManualSelect($event)">
                <!-- Custom Drop Area -->
                <ng-template pTemplate="content">
                  <div class="flex flex-column items-center justify-center cursor-pointer pt-4 py-3"
                    (click)="uploader.choose()">
                    <svg width="116" height="58" viewBox="0 0 116 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M40.4584 2.42964L3.28906 21.0342L16.1311 43.5421L53.3005 24.9376L40.4584 2.42964Z"
                        fill="#DBDBDB" />
                      <path d="M13.6722 12.8232L1.95703 18.6859L3.29086 21.0189L15.6729 14.8176L13.6722 12.8232Z"
                        fill="#DBDBDB" />
                      <path d="M53.2199 24.9637L16.0416 43.5752L1.70703 24.2111L38.8773 5.59961L53.2199 24.9637Z"
                        fill="#EBEBEB" />
                      <path d="M11.9359 16.3369L0.220703 22.2071L1.7072 24.209L14.0973 18.0077L11.9359 16.3369Z"
                        fill="#EBEBEB" />
                      <path
                        d="M115.782 18.3481C108.053 12.1468 100.392 6.03075 92.802 0C84.0679 8.37632 78.5397 20.3651 68.7852 27.5975C76.5149 33.7938 84.1723 39.9073 91.7574 45.9381C100.5 37.5617 106.02 25.573 115.782 18.3481Z"
                        fill="#EBEBEB" />
                      <path d="M74.9707 25.7772L87.5456 35.7566L88.1723 35.0567L75.6216 25.1074L74.9707 25.7772Z"
                        fill="#DBDBDB" />
                      <path
                        d="M76.6035 24.0674C80.7818 27.3838 84.9493 30.6826 89.1061 33.9639C89.315 33.7281 89.5159 33.4773 89.7087 33.2113L77.2303 23.375L76.6035 24.0674Z"
                        fill="#DBDBDB" />
                      <path d="M78.168 22.2835L90.6143 32.1123L91.2009 31.3597L78.7786 21.576L78.168 22.2835Z"
                        fill="#DBDBDB" />
                      <path
                        d="M79.6875 20.4626L97.8467 34.7617C98.0316 34.5059 98.2244 34.25 98.4173 34.0092L80.2821 19.71C80.0812 19.9734 79.9044 20.2217 79.6875 20.4626Z"
                        fill="#DBDBDB" />
                      <path
                        d="M81.166 18.5895L99.2771 32.8887C99.4699 32.6328 99.6547 32.3769 99.8476 32.1361L81.7445 17.8369L81.166 18.5895Z"
                        fill="#DBDBDB" />
                      <path
                        d="M82.6113 16.6761L100.706 30.9226L101.277 30.1701L83.1818 15.916C82.997 16.1719 82.8042 16.4202 82.6113 16.6761Z"
                        fill="#DBDBDB" />
                      <path d="M84.0527 14.7584L102.148 29.005L102.718 28.2524L84.6152 14.0059L84.0527 14.7584Z"
                        fill="#DBDBDB" />
                      <path d="M85.4805 12.8161L103.6 27.1153L104.178 26.3627L86.051 12.0635L85.4805 12.8161Z"
                        fill="#DBDBDB" />
                      <path
                        d="M86.918 10.8981C92.9603 15.6545 99.0134 20.4209 105.077 25.1973L105.68 24.4447L87.4885 10.1455L86.918 10.8981Z"
                        fill="#DBDBDB" />
                      <path
                        d="M88.3789 9.00092C94.4266 13.7774 100.501 18.5739 106.602 23.3904L107.221 22.683L88.9655 8.25586L88.3789 9.00092Z"
                        fill="#DBDBDB" />
                      <path
                        d="M89.8691 7.14143C95.9544 11.943 102.058 16.7721 108.181 21.6288C108.398 21.3955 108.607 21.1697 108.824 20.9514C102.674 16.0697 96.557 11.2255 90.4718 6.41895L89.8691 7.14143Z"
                        fill="#DBDBDB" />
                      <path
                        d="M91.4102 5.32784L109.827 19.9356L110.501 19.2884C104.309 14.3614 98.1489 9.4746 92.0208 4.62793L91.4102 5.32784Z"
                        fill="#DBDBDB" />
                      <path
                        d="M12.3047 37.9383C12.3046 40.6639 13.404 43.2889 15.3828 45.2875C17.3615 47.286 20.0735 48.5104 22.9753 48.7154H88.3004C91.7392 48.6499 95.0227 47.3626 97.4858 45.1141C99.949 42.8657 101.407 39.8244 101.566 36.6063C101.724 33.3883 100.571 30.2342 98.3387 27.7831C96.1068 25.332 92.9636 23.7672 89.5459 23.4058C89.3797 18.4415 87.3741 13.6861 83.8732 9.95555C80.3723 6.22503 75.5945 3.75197 70.3594 2.96071C65.1243 2.16945 59.7584 3.10931 55.1824 5.61904C50.6064 8.12877 47.1056 12.0519 45.2806 16.7153C43.4001 15.8247 41.3214 15.3631 39.2141 15.3681C35.7635 15.3677 32.4425 16.6 29.9283 18.8136C27.414 21.0273 25.8958 24.0557 25.6831 27.2816C25.0645 27.1839 24.4382 27.1361 23.8109 27.1386C20.7571 27.1446 17.8305 28.2851 15.6733 30.3097C13.5162 32.3344 12.3047 35.0779 12.3047 37.9383Z"
                        fill="#F9A952" />
                      <path d="M64.0896 33.0234H50.0684V48.745H64.0896V33.0234Z" fill="white" />
                      <path d="M45.6836 35.3272H68.4791L57.0773 22.7891L45.6836 35.3272Z" fill="white" />
                      <path d="M89.0823 53.5459H26.6738V57.6475H89.0823V53.5459Z" fill="#DBDBDB" />
                      <path d="M73.2692 53.5459H26.6738V57.6475H73.2692V53.5459Z" fill="#F9A952" />
                    </svg>

                    <h6 class="my-3 text-center font-semibold text-xl">Click or Drag & Drop your files here</h6>
                    <div class="text-lg">Max file size: 200 MB</div>
                  </div>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>

          <div [ngClass]="!hideContent ? 'col-10 col-xxl-9 right-activeDragandDrop' : 'w-100 mt-4'" class=""
            [style.display]="files && files.length > 0 ? 'block' : 'none'">
            <div>
              <p-table [value]="files" dataKey="id" [scrollable]="true" scrollHeight="400px">
                <!-- styleClass="table-th-green" -->
                <ng-template pTemplate="header">
                  <tr>
                    <th>Document Name</th>
                    <th>Class</th>
                    <!-- <th>Product Name</th> -->
                    <th>Contract Type <span class="text-red-700">*</span></th>
                    <th>From Date</th>
                    <th>Due Date</th>
                    <th style="width: 3%">Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-file let-rowIndex="rowIndex">
                  <!-- @for (file of files; track $index; let index = $index) { -->
                  <tr #documentRow>
                    <td>
                      <div class="file-txt">{{ file?.data?.name }}</div>
                    </td>
                    <td>
                      <div>
                        <!-- <div class="form-floating"> -->
                        <!-- <ng-select
                                #CategoerySelect
                                class="form-select"
                                data-control="select2"
                                value=""
                                name="CategoryList"
                                id="category-select_{{ index }}"
                                (change)="drpCategoryChoose($event, index)"
                                [clearable]="false"
                                placeholder="Choose Industry"
                              >
                                @for (catdrp of categoryDropDown; track catdrp._id) {
                                  <ng-option [value]="catdrp">
                                    {{ catdrp.cCategory_Name }}
                                  </ng-option>
                                }
                              </ng-select> -->
                        <!-- <label class="m-floating-label">Choose Industry</label> -->

                        <!-- </div> -->

                        <p-select [options]="categoryDropDown" optionLabel="cCategory_Name" optionValue="_id"
                          [(ngModel)]="files[rowIndex].selectedCategory"
                          (onChange)="drpCategoryChoose($event.value, rowIndex)" placeholder="Choose Class"
                          [showClear]="false" [inputId]="'category-select_' + rowIndex" [appendTo]="'body'"></p-select>
                      </div>
                    </td>
                    <!-- <td>
                        <div>
                          <p-select
                            [options]="productDropDown"
                            optionLabel="cDisplayName"
                            optionValue="_id"
                            [(ngModel)]="files[rowIndex].productID"
                            (onChange)="drpProductChoose($event.value, rowIndex)"
                            placeholder="Choose Product"
                            [showClear]="false"
                            [inputId]="'product-select_' + rowIndex"
                            [appendTo]="'body'"
                          ></p-select>
                        </div>
                      </td> -->
                    <td>
                      <div>
                        <!-- <div class="form-floating"> -->
                        <!-- <ng-select
                              class="form-select"
                              data-control="select2"
                              bindLabel="cDocument_Type"
                              Value="_id"
                              [items]="DocumentTypes"
                              name="documentList"
                              id="document-select_{{ rowIndex }}"
                              (change)="drpDocumentType($event, rowIndex)"
                              [clearable]="false"
                              [placeholder]="'Select Document Type'"
                            >
                            </ng-select> -->
                        <p-select [options]="DocumentTypes" optionLabel="cDocument_Type" optionValue="_id"
                          [(ngModel)]="files[rowIndex].documentType"
                          (onChange)="drpDocumentType($event.value, rowIndex)" placeholder="Select Document Type"
                          [showClear]="false" [inputId]="'document-select_' + rowIndex" [appendTo]="'body'"></p-select>
                        <!-- <label class="m-floating-label">
                                Select Document <span class="text-danger">*</span>
                              </label> -->
                        <!-- </div> -->
                      </div>
                    </td>
                    <!-- <td>
                      <div>
                        <date-picker-single
                          id="start_date_{{ index }}"
                          [default_date]="set_default_date_single"
                          class="form-datepicker"
                          placeholder="Select Date"
                          (datechange)="getSingleDateStartDate($event, index)"
                        >
                        </date-picker-single>
                      </div>
                    </td> -->
                    <!-- <td>
                      <div>
                        <date-picker-single
                          id="due_date{{ index }}"
                          [default_date]="set_default_date_single"
                          class="form-datepicker"
                          placeholder="Select Date"
                          (datechange)="getSingleDateDuetDate($event, index)"
                        >
                        </date-picker-single>
                      </div>
                    </td> -->
                    <!-- <td>
                      <div class="filter-inner">
                        <div class="datePickerOuter position-relative">
                          <label class="timeframe-floating-label position-absolute bg-white"> TimeFrame </label>
                          <date-range-picker class="dash-datepicker py-3" [default_date]="set_default_date_single"
                            [showCustomRangeLabel]="false" (datechange)="getDate($event, index)"
                            [format]="defDateFormat" />
                          <i class="bi bi-calendar4-week filter_caldender position-absolute"></i>
                        </div>
                      </div>
                    </td> -->
                    <td>
                      <p-floatlabel variant="on">
                        <p-datepicker [(ngModel)]="files[rowIndex].effectiveDate"
                          inputId="effective_date_{{ rowIndex }}" showIcon iconDisplay="input"
                          (onSelect)="onEffectiveDateChange($event, rowIndex)" [showClear]="true" appendTo="body" />
                        <label for="effective_date_{{ rowIndex }}">From Date</label>
                      </p-floatlabel>
                    </td>
                    <td>
                      <p-floatlabel variant="on">
                        <p-datepicker [(ngModel)]="files[rowIndex].endDate" inputId="end_date_{{ rowIndex }}" showIcon
                          iconDisplay="input" (onSelect)="onEndDateChange($event, rowIndex)" [showClear]="true"
                          appendTo="body" />
                        <label for="end_date_{{ rowIndex }}">Due Date</label>
                      </p-floatlabel>
                    </td>
                    <td class="text-center">
                      <div (click)="RemoveManualDocumentFromList(rowIndex)">
                        <i class="bi bi-trash3 fs-2 text-danger cursor-pointer"></i>
                      </div>
                    </td>
                  </tr>
                  <!-- } -->
                </ng-template>
              </p-table>
            </div>
            @if (!hideContent) {
            @if (files.length > 0) {
            <div class="requestActivation-back-outer" [hidden]="!manageDocument">
              <div class="d-flex justify-content-end mt-7">
                <button type="button" class="btn-cancel" (click)="backToCustomerAddCustomer()">
                  <i class="bi bi-x fs-3"></i>Clear All
                </button>
                <button type="button" class="btn-main ms-3" (click)="SaveDetails(false)">
                  <i class="bi bi-check2 fs-3"></i>
                  Save & Add Client
                </button>
              </div>
            </div>
            }
            }
          </div>
        </div>
      </div>
    </div>

    @if (!hideContent) {
    @if (files.length <= 0) { <div class="manual-backSkip" [hidden]="!manageDocument">
      <div class="d-flex justify-content-end mt-5">
        <button type="button" class="btn-plain me-5" id="back-addcustomer-btn-esign" (click)="backShowProductsFn()">
          <i class="bi bi-chevron-left fs-4 fw-700 backicon-color"></i>Back
        </button>
        <button type="button" class="btn-main" id="skip-add-cust" (click)="SaveDetails(false)">
          <i class="bi bi-check2 fs-3 ms-3 fw-700"></i> Skip & Add Client
        </button>
      </div>
  </div>
  }
  }
  @if (files.length > 0) {
  <div class="manual-backSkip" [hidden]="manageDocument">
    <div class="d-flex justify-content-end mt-5">
      <button type="button" class="btn-olt me-4" id="skip-add-cust" (click)="SaveDocumentfn(false)">
        <i class="bi bi-check2 fs-3 ms-3"></i> Save
      </button>
    </div>
  </div>
  }
  </div>
  }
  <!-- </form> -->

  <!-- esign  -->

  @if (!showManualPage) {
  @if (showEditEsign) {
  <div class="row mt-5">
    <div class="col-2 col-xl-3 leftDragandDrop cursor-pointer">
      <ngx-dropzone class="dropzone" (change)="onFileSelect($event)">
        <div>
          <input type="file" id="fileInput" style="display: none" accept=".docx,.pdf" multiple />
          <div class="d-flex justify-content-center">
            <svg width="116" height="58" viewBox="0 0 116 58" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M40.4584 2.42964L3.28906 21.0342L16.1311 43.5421L53.3005 24.9376L40.4584 2.42964Z"
                fill="#DBDBDB" />
              <path d="M13.6722 12.8232L1.95703 18.6859L3.29086 21.0189L15.6729 14.8176L13.6722 12.8232Z"
                fill="#DBDBDB" />
              <path d="M53.2199 24.9637L16.0416 43.5752L1.70703 24.2111L38.8773 5.59961L53.2199 24.9637Z"
                fill="#EBEBEB" />
              <path d="M11.9359 16.3369L0.220703 22.2071L1.7072 24.209L14.0973 18.0077L11.9359 16.3369Z"
                fill="#EBEBEB" />
              <path
                d="M115.782 18.3481C108.053 12.1468 100.392 6.03075 92.802 0C84.0679 8.37632 78.5397 20.3651 68.7852 27.5975C76.5149 33.7938 84.1723 39.9073 91.7574 45.9381C100.5 37.5617 106.02 25.573 115.782 18.3481Z"
                fill="#EBEBEB" />
              <path d="M74.9707 25.7772L87.5456 35.7566L88.1723 35.0567L75.6216 25.1074L74.9707 25.7772Z"
                fill="#DBDBDB" />
              <path
                d="M76.6035 24.0674C80.7818 27.3838 84.9493 30.6826 89.1061 33.9639C89.315 33.7281 89.5159 33.4773 89.7087 33.2113L77.2303 23.375L76.6035 24.0674Z"
                fill="#DBDBDB" />
              <path d="M78.168 22.2835L90.6143 32.1123L91.2009 31.3597L78.7786 21.576L78.168 22.2835Z" fill="#DBDBDB" />
              <path
                d="M79.6875 20.4626L97.8467 34.7617C98.0316 34.5059 98.2244 34.25 98.4173 34.0092L80.2821 19.71C80.0812 19.9734 79.9044 20.2217 79.6875 20.4626Z"
                fill="#DBDBDB" />
              <path
                d="M81.166 18.5895L99.2771 32.8887C99.4699 32.6328 99.6547 32.3769 99.8476 32.1361L81.7445 17.8369L81.166 18.5895Z"
                fill="#DBDBDB" />
              <path
                d="M82.6113 16.6761L100.706 30.9226L101.277 30.1701L83.1818 15.916C82.997 16.1719 82.8042 16.4202 82.6113 16.6761Z"
                fill="#DBDBDB" />
              <path d="M84.0527 14.7584L102.148 29.005L102.718 28.2524L84.6152 14.0059L84.0527 14.7584Z"
                fill="#DBDBDB" />
              <path d="M85.4805 12.8161L103.6 27.1153L104.178 26.3627L86.051 12.0635L85.4805 12.8161Z" fill="#DBDBDB" />
              <path
                d="M86.918 10.8981C92.9603 15.6545 99.0134 20.4209 105.077 25.1973L105.68 24.4447L87.4885 10.1455L86.918 10.8981Z"
                fill="#DBDBDB" />
              <path
                d="M88.3789 9.00092C94.4266 13.7774 100.501 18.5739 106.602 23.3904L107.221 22.683L88.9655 8.25586L88.3789 9.00092Z"
                fill="#DBDBDB" />
              <path
                d="M89.8691 7.14143C95.9544 11.943 102.058 16.7721 108.181 21.6288C108.398 21.3955 108.607 21.1697 108.824 20.9514C102.674 16.0697 96.557 11.2255 90.4718 6.41895L89.8691 7.14143Z"
                fill="#DBDBDB" />
              <path
                d="M91.4102 5.32784L109.827 19.9356L110.501 19.2884C104.309 14.3614 98.1489 9.4746 92.0208 4.62793L91.4102 5.32784Z"
                fill="#DBDBDB" />
              <path
                d="M12.3047 37.9383C12.3046 40.6639 13.404 43.2889 15.3828 45.2875C17.3615 47.286 20.0735 48.5104 22.9753 48.7154H88.3004C91.7392 48.6499 95.0227 47.3626 97.4858 45.1141C99.949 42.8657 101.407 39.8244 101.566 36.6063C101.724 33.3883 100.571 30.2342 98.3387 27.7831C96.1068 25.332 92.9636 23.7672 89.5459 23.4058C89.3797 18.4415 87.3741 13.6861 83.8732 9.95555C80.3723 6.22503 75.5945 3.75197 70.3594 2.96071C65.1243 2.16945 59.7584 3.10931 55.1824 5.61904C50.6064 8.12877 47.1056 12.0519 45.2806 16.7153C43.4001 15.8247 41.3214 15.3631 39.2141 15.3681C35.7635 15.3677 32.4425 16.6 29.9283 18.8136C27.414 21.0273 25.8958 24.0557 25.6831 27.2816C25.0645 27.1839 24.4382 27.1361 23.8109 27.1386C20.7571 27.1446 17.8305 28.2851 15.6733 30.3097C13.5162 32.3344 12.3047 35.0779 12.3047 37.9383Z"
                fill="#F9A952" />
              <path d="M64.0896 33.0234H50.0684V48.745H64.0896V33.0234Z" fill="white" />
              <path d="M45.6836 35.3272H68.4791L57.0773 22.7891L45.6836 35.3272Z" fill="white" />
              <path d="M89.0823 53.5459H26.6738V57.6475H89.0823V53.5459Z" fill="#DBDBDB" />
              <path d="M73.2692 53.5459H26.6738V57.6475H73.2692V53.5459Z" fill="#F9A952" />
            </svg>
          </div>
          <h6 class="text-center clickDragdrp-txt mb-3 mt-7 fs-5 fw-semibold fs-xxl-4 fw-xxl-bold">
            Click or Drag & Drop your files here
          </h6>
          <div class="text-center pls-upload-txt fs-6 fs-xxl-5">
            <span class="text-danger">*</span> Please Upload Files Upto
            <span class="fw-bold">200 MB</span>
          </div>
        </div>
      </ngx-dropzone>
    </div>
    <div class="col-xl-9">
      <div class="">
        <table class="table table-th-green">
          <thead>
            <tr>
              <th style="width: 12%">Document Name</th>
              <th style="width: 20%">Document type</th>
              <th style="width: 15%">Industry name</th>
              <th style="width: 15%">Product name</th>
              <th style="width: 20%">Status</th>
              <th style="width: 20%">Template Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="file-txt">{{ files[0]?.name ? files[0]?.name : templates?.cFile_Name }}</div>
              </td>
              <td>
                @if (editfromdetails) {
                <div class="file-txt">{{ templates?.oDocumentTypeID?.cDocument_Type || "N/A" }}</div>
                }
                @if (!editfromdetails) {
                <div>
                  <div class="form-floating">
                    <ng-select #DocumentType class="form-select" [items]="DocumentTypes" bindLabel="cDocument_Type"
                      bindValue="_id" [(ngModel)]="selectedDocumentTypeId" [clearable]="false"
                      [placeholder]="'Select Document Type'">
                    </ng-select>

                    <label class="m-floating-label"> Select Document <span class="text-danger">*</span> </label>
                  </div>
                </div>
                }
              </td>
              <td>
                <div class="file-txt">{{ templates?.oCategoryID?.cCategory_Name || "N/A" }}</div>
              </td>
              <td>
                <div class="file-txt">{{ templates?.oProduct_Id?.cDisplayName || "N/A" }}</div>
              </td>
              <td>
                <div class="file-txt">Uploaded</div>
              </td>
              <td>
                <!-- @if(!editfromdetails){ -->
                <div>
                  <div class="form-floating">
                    @if (templates) {
                    <input #templateName id="templateName" [(ngModel)]="templates.cTemplate_Name" name="templateName"
                      type="text" class="form-control" placeholder="Template Name" (blur)="templateNameCheck($event)"
                      required />
                    <label class="m-floating-label"> Template Name <span class="text-danger">*</span></label>

                    <!-- </div> -->
                    }
                  </div>
                </div>
                <!-- }  @if(editfromdetails){<div class="file-txt">{{ templates?.cTemplate_Name || "N/A" }}</div>} -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- configureFields Section -->
  <form [formGroup]="FieldSet">
    <section class="configureFields-sec mb-3">
      <div class="row mt-6 bg-white pb-3 mx-0 rounded-1 px-3">
        <h5 class="mt-5 mb-4 px-0 fs-4">Configure fields</h5>
        <div class="form-row flex-wrap ps-0">
          <div class="col-lg-2">
            <div class="form-floating">
              <input type="text" id="anchorString" name="anchorString" class="form-control"
                placeholder="Text in document" aria-label="Username" aria-describedby="basic-addon1"
                formControlName="anchorString" required />
              <label class="m-floating-label">Anchor String<span class="text-danger">*</span></label>
            </div>
            @if (FieldSet.controls["anchorString"]?.invalid && FieldSet.controls["anchorString"]?.touched) {
            <div class="errorMsg-client text-danger">Anchor is required.</div>
            }
          </div>
          <div class="col-lg-2">
            <div class="form-floating">
              <input type="text" id="fieldLabel" name="fieldLabel" class="form-control"
                placeholder="Label name of the field " aria-label="Username" aria-describedby="basic-addon1"
                formControlName="fieldLabel" />
              <label class="m-floating-label">Field Label<span class="text-danger">*</span></label>
            </div>
            @if (FieldSet.controls["fieldLabel"]?.invalid && FieldSet.controls["fieldLabel"]?.touched) {
            <div class="errorMsg-client text-danger">Field Label is required.</div>
            }
          </div>
          <div class="col-lg-2">
            <div class="form-floating">
              <ng-select class="form-select" [placeholder]="'Field Type'" id="fieldType" name="fieldType"
                formControlName="fieldType" [clearable]="false" (change)="drpFieldTypeChange($event)">
                <ng-option value="checkbox">Checkbox</ng-option>
                <ng-option value="date">Date</ng-option>
                <ng-option value="initials">Initials</ng-option>
                <ng-option value="radiogroup">Radiogroup</ng-option>
                <ng-option value="signature">Signature</ng-option>
                <ng-option value="text">Text</ng-option>
              </ng-select>
              <label class="m-floating-label">Field Type<span class="text-danger">*</span></label>
            </div>
            @if (FieldSet.controls["fieldType"]?.invalid && FieldSet.controls["fieldType"]?.touched) {
            <div class="errorMsg-client text-danger">Field Type is required.</div>
            }
          </div>
          <div class="col-lg-2">
            <div class="form-floating">
              <ng-select class="form-select" [placeholder]="'Role Type'" id="roleType" name="roleType"
                formControlName="roleType" [clearable]="false">
                <!-- <ng-option value="0" selected>Choose Role</ng-option> -->
                @for (role of rolesData; track role.cRole_Name) {
                <ng-option [value]="role.cRole_Name"> {{ role.cRole_Name }} </ng-option>
                }
              </ng-select>
              <label class="m-floating-label">Form role<span class="text-danger">*</span></label>
            </div>
            @if (FieldSet.controls["roleType"]?.invalid && FieldSet.controls["roleType"]?.touched) {
            <div class="errorMsg-client text-danger">Role Type is required.</div>
            }
          </div>
          <div class="col-lg-2">
            <div class="form-floating">
              <input type="number" id="height" name="height" class="form-control" value="24" placeholder="Height"
                aria-label="Username" aria-describedby="basic-addon1" formControlName="height" />
              <label class="m-floating-label">Height<span class="text-danger">*</span></label>
            </div>
            @if (FieldSet.controls["height"]?.invalid && FieldSet.controls["height"]?.touched) {
            <div class="errorMsg-client text-danger">Height is required.</div>
            }
          </div>
          <div class="col-lg-2">
            <div class="form-floating">
              <input type="number" id="width" name="width" class="form-control" value="210" placeholder="Width"
                aria-label="Username" aria-describedby="basic-addon1" formControlName="width" />
              <label class="m-floating-label">Width<span class="text-danger">*</span></label>
            </div>
            @if (FieldSet.controls["width"]?.invalid && FieldSet.controls["width"]?.touched) {
            <div class="errorMsg-client text-danger">Width is required.</div>
            }
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="mt-3 ps-0 mb-2 d-flex align-items-center gap-5">
            <div class="form-check d-flex align-items-center gap-2">
              <input type="checkbox" id="removeanchorActive" class="form-check-input chk-box"
                formControlName="removeanchorActive" />
              <label for="removeanchorActive" class="lable-txt-colour fs-5">Remove anchor string</label>
            </div>
            <div class="mt-3 mb-2 d-flex align-items-center">
              <div class="form-check d-flex align-items-center gap-2">
                <input type="checkbox" id="fieldRequired" name="fieldRequired" class="form-check-input chk-box"
                  formControlName="fieldRequired" />
                <label for="fieldRequired" class="lable-txt-colour fs-5">Required</label>
              </div>
            </div>
            <div class="me-4 btn viewBtn px-0 text-decoration-underline fw-medium cursor-pointer" id="skip-add-cust"
              (click)="fildsMdl()">
              <i class="bi bi-check2 fs-3 ms-3"></i> Default Fields List
            </div>
          </div>
          <div>
            <button type="button" class="btn-olt me-3" (click)="addDataToList()">
              <i class="bi" [ngClass]="isEditMode ? 'bi-check-lg fs-3' : 'bi-plus fs-3'"></i>
              {{ isEditMode ? "Update" : "Add" }}
            </button>
            <button type="button" class="btn-cancel" id="skip-add-cust" (click)="ClearDataToList()">
              <i class="bi bi-x btn-icon"></i> Cancel
            </button>
          </div>
          <!-- <div class="d-flex justify-content-end">
                <button type="button"  class="btn-olt me-4" id="skip-add-cust" (click)="fildsMdl()">
                  <i class="bi bi-check2 fs-3 ms-3"></i> Default Fields List
                </button>
              </div>

                      <div class="d-flex justify-content-end">
                <button type="button"  class="btn-cancel me-4" id="skip-add-cust">
                  <i class="bi bi-x btn-icon"></i> Clear
                </button>
              </div> -->
        </div>
        @if (listItems.length > 0) {
        <section class="w-100">
          <data-table [show_pdf]="false" [show_excel]="false" [table_search]="false" [show_column_filter]="false"
            [enable_row_click]="false" [show_action_column]="action_field" [show_image_column]="image_colum"
            [action_position]="position" [show_button_column]="button_colum"
            (selected_row_data)="recive_dataField($event)" [data]="listItems" [table_pagination]="true"
            [merge_column]="false">
          </data-table>
        </section>

        <!-- <div class="requestActivation-back-outer" [hidden]="hideFieldSet"> -->
        <div class="d-flex justify-content-end mt-7">
          <!-- <button type="button" class="btn-cancel" (click)="resetFileUpload()"><i class="bi bi-x fs-1"></i>Clear All</button>
      <button type="submit" class="btn-olt ms-3">
        <i class="bi bi-check2 fs-3"></i>
        Save Template
      </button> -->
          <!-- <button type="submit" class="btn-olt ms-3" (click)="SaveTemplate()">
        <i class="bi bi-check2 fs-3"></i>
        Save Template
      </button> -->
        </div>
        <!-- </div> -->
        }
      </div>
      <div class="d-flex justify-content-end mt-7">
        <button type="button" class="btn-cancel" (click)="resetFileUpload()">
          <i class="bi bi-x fs-1"></i>Clear All
        </button>
        <!-- <button type="button" class="btn-cancel" ><i class="bi bi-x fs-1"></i>Clear All</button> -->
        @if (editmode) {
        <button type="submit" class="btn-olt ms-3" (click)="updateTemplate('savecompany')">
          <i class="bi bi-check2 fs-3"></i>
          Save as Template for Company
        </button>
        }

        @if (editmode) {
        <button type="submit" class="btn-olt ms-3" (click)="updateTemplate('save')">
          <i class="bi bi-check2 fs-3"></i>
          Save as a new Template
        </button>
        }

        @if (editmode && !editfromdetails) {
        <button type="submit" class="btn-olt ms-3" (click)="updateTemplate('update')">
          <i class="bi bi-check2 fs-3"></i>
          Update Template
        </button>
        }
      </div>
    </section>
  </form>
  }
  <!-- Data Table -->

  @if (hideTemplateTable) {
  <div class="partial-esign-outer">
    <div class="d-flex justify-content-between align-items-center mt-4">
      <div class="sub-hd uploadDoc-txt fs-5 fw-medium">Choose Template</div>
      <!-- <div class="btn text-white partialView-temp-btn mb-4 me-0">
        <i class="bi bi-plus-lg text-white ms-1"></i>
        Create a new template
      </div> -->
    </div>
    <div class="p-2 table-responsive overflow-x">
      <table class="table-width-fixed table-th-green w-100">
        <thead>
          <tr>
            <th></th>
            <th>Template Name</th>

            <th>Industry Name</th>
            <th>Product Name</th>
            <th>Document Type</th>
            <!-- <th>From Date</th>
            <th>Due Date</th> -->
            <th>Esign Document Validity</th>
            <!-- <th>Customized</th> -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for (item of docubeeList; track $index; let index = $index) {
          <tr>
            <td>
              <div class="form-check">
                <input #checkbox class="form-check-input rounded-0 cursor-pointer" type="checkbox" value=""
                  id="flexCheckDefault" (change)="toggleFieldsVisibility(item, index)" />
              </div>
            </td>
            <td>
              <div>{{ item.cTemplate_Name }}</div>
            </td>

            <td>
              <div>
                <div class="form-floating">{{ item.categoryName }}</div>
              </div>
            </td>
            <td>
              <div>
                <div class="form-floating">{{ item.productName }}</div>
              </div>
            </td>
            <td>
              <div>
                <div class="form-floating">{{ item.cDocument_Type }}</div>
              </div>
            </td>
            <!-- <td>
              @if(item.showFields){

              <div class="form-floating">
                <ng-select class="form-select" data-control="select2" bindLabel="cDocument_Type" Value="_id"
                  [items]="DocumentTypes" name="documentList" id="document-select_{{ index }}"
                  (change)="drpDocumentTypeEsign($event, item)" [clearable]="false"
                  [placeholder]="'Select Document Type'">
                </ng-select>
                <label class="m-floating-label"> Select Document <span class="text-danger">*</span> </label>
              </div>

              }
            </td> -->
            <!-- <td>

              
              @if(item.showFields){
              <div>
                <date-picker-single
                  id="start_date_{{ index }}"
                  [default_date]="set_default_date_single"
                  class="form-datepicker"
                  (datechange)="getSingleDateStartDateEsign($event, item)"
                >
                </date-picker-single>
              </div>
              }
            </td>
            <td>
              @if(item.showFields){
              <div>
                <date-picker-single
                  id="due_date_{{ index }}"
                  [default_date]="set_default_date_single"
                  class="form-datepicker"
                  (datechange)="getSingleDateDuetDateEsign($event, item)"
                >
                </date-picker-single>
              </div>
              }
            </td> -->
            <td>
              @if (item.showFields) {
              <div class="filter-inner">
                <div class="datePickerOuter position-relative">
                  <!-- <label class="timeframe-floating-label position-absolute bg-white"> TimeFrame </label> -->
                  <date-range-picker class="dash-datepicker py-3" [default_date]="set_default_date_single"
                    [showCustomRangeLabel]="false" (datechange)="getDateEsign($event, item)" [format]="defDateFormat" />
                  <!-- <i class="bi bi-calendar4-week filter_caldender position-absolute"></i> -->
                </div>
              </div>
              }
            </td>
            <!-- <td>
              <div>{{ item.Customized }}</div>
            </td> -->
            <td>
              <div class="d-flex align-items-center col-gap-5">
                <div class="viewBtn text-decoration-underline fw-medium cursor-pointer"
                  (click)="viewDocument(item.cFile_Name, item.cDocubeeUploadId, item.cTemplate_Name)">
                  View
                </div>
                <div>
                  <i class="bi bi-pencil-square fs-2 cursor-pointer" title="Edit"
                    (click)="editEsignHander(item, index)"></i>
                </div>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-5 col-gap-5" [hidden]="!manageDocument">
      <button type="button" [hidden]="!manageDocument" class="btn-plain" id="back-addcustomer-btn-esign"
        (click)="backToCustomerAddCustomer()">
        <i class="bi bi-chevron-left fs-4 fw-700 backicon-color"></i>Back
      </button>
      @if (esignFilesDetails.length > 0) {
      <button [hidden]="!manageDocument" type="button" class="btn-main me-3" id="skip-add-cust"
        (click)="SaveDetails(true)">
        <i class="bi bi-plus fs-3"></i>
        {{ esignFilesDetails.length > 0 ? "Add to Queue" : "Skip & Add Client" }}
      </button>
      }
      <button [hidden]="!manageDocument" type="button" class="btn-main" id="skip-add-cust" (click)="SaveDetails(false)">
        <i class="bi bi-check2 fs-3 ms-3 fw-700"></i>
        {{ esignFilesDetails.length > 0 ? "Send e-sign Request." : "Skip & Add Client" }}
      </button>
    </div>
  </div>
  }

  @if (esignFilesDetails.length > 0) {
  <div class="manual-backSkip" [hidden]="manageDocument">
    <div class="d-flex justify-content-end mt-5">
      <button type="button" [hidden]="manageDocument" class="btn-olt me-4" id="skip-add-cust"
        (click)="SaveDocumentfn(true)">
        <i class="bi bi-plus fs-3"></i> Add to Queue
      </button>
      <button type="button" [hidden]="manageDocument" class="btn-olt me-4" id="skip-add-cust"
        (click)="SaveDocumentfn(false)">
        <i class="bi bi-check2 fs-3 ms-3"></i> Send e-sign Request
      </button>
    </div>
  </div>
  }
  }
</main>
<!-- !Skip and Add Customer Modal -->
<div class="modal modal-Manual-wrapper">
  <div class="modal-Manual-wrapper-inner">
    <div class="modal-dialog modal-dialog-centered position-fixed top-0 start-0 end-0">
      <div class="modal-content pt-7 pe-10 ps-10 pb-10">
        <div class="text-end" (click)="redirectToDashboard()">
          <i type="button" class="cursor-pointer bi bi-x-lg fs-3" id="closeModelManual" data-bs-dismiss="modal"
            aria-label="Close">
          </i>
        </div>
        <div class="d-flex justify-content-center">
          <i class="bi bi-check-circle-fill circle-icon"></i>
        </div>
        <div class="text-center mt-7">
          <h4 class="primary fs-3">Congratulations, you have added a new Client</h4>
          <div class="mt-5">
            Visit
            <span (click)="redirectToDashboard()" id="closeModelManual" data-bs-dismiss="modal" aria-label="Close"
              class="txt-dashBoard fw-medium cursor-pointer">
              <u>Dashboard</u>
            </span>
            to complete the activation process.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@if (isModal) {
<section class="modal bg-modal-blur d-block" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-xl mt-20">
    <div class="modal-content pt-4 pb-5">
      <div class="d-flex align-items-center justify-content-between px-6 mb-4">
        <div class="fw-semibold fs-3">Default Fields</div>
        <div class="text-end">
          <i type="button" class="cursor-pointer bi bi-x-lg fs-3" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModal()">
          </i>
        </div>
      </div>
      <div class="border_top"></div>

      <div class="mx-6 mt-3 table-responsive">
        <table class="table table-th-green">
          <thead>
            <tr>
              <th class="nowrap small-font">Anchor String</th>
              <th class="small-font">Label</th>
              <th class="small-font">Role</th>
              <th class="small-font">Type</th>
              <th class="small-font">Height</th>
              <th class="small-font">Width</th>
              <th class="nowrap small-font">Remove Anchor String</th>
              <th class="small-font">Required</th>
              <th class="small-font">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (anchor of defaultanchorstrings; track $index; let index = $index) {
            <tr>
              <td>{{ anchor.anchorString }}</td>
              <td>{{ anchor.name }}</td>
              <td>{{ anchor.formRoleId }}</td>
              <td>{{ anchor.type }}</td>
              <td>{{ anchor.height }}</td>
              <td>{{ anchor.width }}</td>
              <td>{{ anchor.removeAnchorString }}</td>
              <td>{{ anchor.required }}</td>
              <td>
                <div class="form-check form-switch">
                  <input type="checkbox" class="form-check-input" role="switch" [checked]="anchor.checked"
                    (change)="onAnchorCheckedChange($event, anchor)" />
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
}
<!-- !view modal -->
@if (showViewDocModal) {
<app-view-modal [PreviewDocument]="PreviewDocument" (closeTempDocument)="closeViewModal($event)"></app-view-modal>
}