.dropzone {
  border: 2px dashed #9DA9A3;
  background-color: #F9F9F8;
  padding: 55px 20px;
}
.activeDragandDrop {
  .leftDragandDrop {
    width: 100% !important;
  }
  .right-activeDragandDrop {
    display: none;
  }
}
.createTemp-config-inner {
  border: 1px solid #A5A5A5;
}
.configureFields-sec{
  .chk-box{
    border: 1px solid #8f8f8f  !important;
  }
}
.dropzone {
  border: 2px dashed #9DA9A3 !important;
  background-color: #F9F9F8 !important;
  padding: 55px 20px !important;
  height: unset;
  display: block;
  color: initial;
}
.modal-Manual-wrapper,.deleteWrapper,.activeteReqWrapper,.activeteReqInner,.deactivateWrapper {
  background-color: #00000086;
}

