<div class="bsDatepicker position-relative">
  <input
    id="datepicker-single"
    type="text"
    class="form-control cursor-pointer"
    bsDatepicker
    [(ngModel)]="selected"
    [bsConfig]="bsConfig"
    (bsValueChange)="setDate($event)"
    placeholder="Select date"
    [readonly]="readonlyInput"
    (keydown)="readonlyInput ? preventTyping($event) : null"
  />
  @if (selected) {
    <i class="bi bi-x iconClear" (click)="clearSelectedDate()"></i>
  }
  <i class="bi bi-calendar4-week fs-3 pe-2 text-gray-500 iconDate"></i>
  @if (label) {
    <label for="datepicker-single" [ngClass]="{ required: mandatory_icon == true, '*': mandatory_icon == false }">{{
      label
    }}</label>
  }
</div>
