.iconDate {
  position: absolute;
  top: 10px;
  right: 0;
}
.iconClear{
  position: absolute;
  top: 12px;
  right: 34px;
  font-size: 15px;
  cursor: pointer;
}

::ng-deep {
  .theme-default .bs-datepicker-head {
    background-color: transparent !important;
  }

  .bs-datepicker-body {
    padding: 0 !important;
    border: unset !important;
  }

  .bs-datepicker-head button {
    color: black !important;
  }

  .bs-datepicker-head {
    padding: 0 !important;
    height: 34px !important;
  }

  .bs-datepicker-body {
    min-height: 222px !important;
  }

  .theme-default .bs-datepicker-body table td span.selected{
    background-color: #0d3133 !important;
  }

}
